<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="visit_bookmark" id ="visit_history">
  <div class="newvisit_history vst">
    <h3 class="tit vst_title l_div_style" style="display:none">최근 방문</h3>
    <h3 class="tit bookmark_title f_div_style" style="display:none">즐겨찾기</h3>
    <button type="button" class="btn_open" onclick="openLately()"><span class="blind">레이어 열기</span><em class="sp_img icon_listmore"></em></button>
    <button type="button" class="bnt_visit_prev" style="display:none"><span class="blind">이전</span><em class="sp_img icon_prev"></em></button>
    <div class="newvisit_box">
      <ul class="newvisit_list vst_listbox l_div_style" style="display:none"></ul>

      <ul class="newvisit_list  bkmark_listbox f_div_style" style="display:none"></ul>

    </div>

    <button type="button" class="bnt_visit_next"  style="display:none"><span class="blind">다음</span><em class="sp_img icon_next"></em></button>
    <button type="button" class="bnt_newvisit_more" style="display:none" onclick="openLately()">전체</button>

    <div class="pop_wrap gray1px" style="left:0;top:37px;display:none" id ="visit_history_lyr">
      <div class="pop_content under_catelist newvisit_layer">
        <div class="tabs">
          <ul class="tabslist clear">
            <li class="tab_l"><button type="button" onclick="tabLately('lately')">최근 방문</button></li>
            <li class="tab_f"><button type="button" onclick="tabLately('favorite')">즐겨찾기</button></li>
          </ul>
        </div>

        <div class="toptab_content">
          <div class ="visit_div l_div_style">
            <div class="visit_tablist" style="display:block">
              <ul class="under_listbox vst_list"></ul>
              <div class="tabcon_bottom">
                <button type="button" class="list_modi">전체 삭제</button>
              </div>
            </div>
          </div>
          <div class ="favorite_div f_div_style">
            <div class="bkmark_tablist">
              <ul class="under_listbox bkmark"></ul>
              <div class="tabcon_bottom">
                <div class="bottom_paging_wrap">
                  <div class="bottom_paging_box iconpaging"></div>
                </div>
                <button type="button" class="list_modi" onclick="myFavorite('240')">편집</button>
                <div class="pop_wrap type3" style="right:-9px;top:35px;display:none">
                  <div class="pop_content favorite_list">
                    <div class="pop_head"><h3>즐겨찾기 갤러리</h3></div><!-- 220419 텍스트 수정-->
                    <div class="inner">
                      <div class="pop_info">
                        <p>즐겨찾는 갤러리 리스트입니다.</p>
                        <p>갤러리명 클릭 시 해당 갤러리로 이동합니다.</p>
                      </div>
                    </div>
                    <div class="btn_box">
                      <button type="button" class="btn_cancle">취소</button>
                      <button type="button" class="btn_apply">저장</button>
                    </div>
                  </div>
                  <button type="button" class="poply_bgblueclose"><span class="blind">즐겨찾기 레이어 닫기</span><em class="sp_img icon_bgblueclose"></em></button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="my_favorite" class="pop_wrap type3" style="right:-1px;top:79px;display:none"></div>
  </div>
</div>
</body>
</html>