<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <table>
        <c:if test="${loginInfo eq null}">
            <tr>
                <td>아이디</td>
                <td><input type="text" name="nickname"></td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td><input type="password" name="password"></td>
            </tr>
        </c:if>

        <tr>
            <td>제목</td>
            <td><input type="text" name="title"></td>
        </tr>
        <tr>
            <td>내용</td>

            <c:if test="${loginInfo ne null}">
                <div><img src="/uploadfile/profile/${loginInfo.photo}" width="100" height="100"/></div>
            </c:if>

            <td><textarea rows="60" cols="150" style="resize : none" name="context"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="reset">
                <input type="submit" value = "글쓰기">
            </td>
        </tr>
    </table>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>