<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>

        <!--루트 레벨의 경고 수준부터 그 다음 단계들만 표시함-->
        <Logger name = "org.springframework" level="debug" addiitivity="false">
            <AppenderRef ref = "console"/>
        </Logger>

        <Logger name = "com.example.springmvc" level="info" addiitivity="false">
            <AppenderRef ref = "console"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>

