<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="inside.mapper.PostMapper">
    <select id="selectAll" resultType="inside.domain.PostDTO">select * from post</select>
    <select id="selectByIndex" resultType="inside.domain.PostDTO">select * from post where `index` = #{param1}</select>

    <insert id="insertPost" parameterType="inside.domain.PostDTO">insert into post(title,writer,password,content)
        values(#{title}, #{writer}, #{password}, #{content})</insert>

    <update id="readPost" parameterType="inside.domain.PostDTO">update post set views = views + 1 where `index` = #{param1}</update>

    <update id="updatePost" parameterType="inside.domain.PostDTO">update post set Content = #{param3} where Password = #{param2} and `index` = #{param1}</update>

    <update id="updatePostComment" parameterType="inside.domain.PostDTO">update post set commentnum = #{param2} where `index` = #{param1}</update>

    <delete id="deletePost" parameterType="inside.domain.PostDTO">delete from post where `index` = #{param1}</delete>
</mapper>